.mysect{
 margin-left: 15%;
}
.othersect{
  margin-right: 25%;
}

.post-user-photo{
    margin-left: 5%;
}

.post-position{
    margin-left: 30%;
    margin-right: 30%;
}

.post-user-photo-position{
    margin-left: 2%;
    margin-top:  2%;
}


